.vscode/launch.json
.vscode/settings.json
Alladin/Dipsy.js
Alladin/html.html
Database/index.html
Database/process_form.php
Database/style.css
DATABASE S2/config.php
DATABASE S2/dashboard.php
DATABASE S2/index.html
DATABASE S2/index.php
DATABASE S2/logout.php
DATABASE S2/register.php
Form/Index.html
Form/style.css
Formulir baru/Index.html
Formulir baru/style.css
fungctionn/function.js
fungctionn/index.html
fungctionn/stylr.css
Pyhton/Mark 1.py
Pyhton/Mark 2.py
Pyhton/Mark 3.py
Pyhton/Mark 4.py
Pyhton/Mark 5.py
Pyhton/Mark 6.py
Pyhton/Mark 7.py
Pyhton/Mark 8.py
Pyhton/Mark 9.py
Pyhton/Mark 10.py
Pyhton/Mark 11.py
php/dashboard.php
php/koneksi.php
php/Response.php
Login/index.html
Login/style.css
Navbar/index.html
Navbar/style.css
Navbar/Form karyawan/index.html
Navbar/Form karyawan/stle.css
simba/Ea.html
simba/index_script.html
simba/script2.js
Tabel/style.css
Tabel/Tabel.html
variabel/aiya.js
variabel/index.html
variabel/script2.js
variabel/stle.css
variabel/variabel.js
variabel/xedni.html
app.js
kal.py
Devaccto/Po 1.js
Devaccto/Po 2.js
Devaccto/div/div.css
Devaccto/div/div.html
Devaccto/jajaja/jajaja.css
Devaccto/jajaja/jajaja.html
Devaccto/stle/Index.html
Devaccto/stle/stle.css
Devaccto/wleowleo/gaya.css
Devaccto/wleowleo/wleowleo.html
